/* .container-md {
    background-color: yellow;
} */

/* .new {
    background-color: blue;
}
.new:hover {
    background-color: blue;
} */
.one {
    display: inline-block;
}
.two {
    display: inline-block;
}
